<nav class="navbar">
  <div class="logo">
  <%= link_to  root_path do %>
    <%= image_tag("Logo.png") %>
    <% end %>
  </div>
  <div class="userOptions">
    <%= link_to "Login",  tasks_path %> |
    <%= link_to "Register",  tasks_path %>
  </div>
</nav>
