
<div class="banner">
  <div class="banner-content text-center ">
    <h1>Change your life: Organize your tasks</h1>
    <p>Task Manager brings orga skills to <span class="type">creative people</span> </p>
    <%= link_to "Start now", tasks_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
